*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
/examples/node_modules
/examples/package.json
Gemfile.lock
archive.json
draft-ietf-mimi-content.xml
package-lock.json
report.xml
!requirements.txt
.DS_Store
