# CONFERENCING
# message ID = h'01c28cee525403a3a0d30e9958749790
#                42cd776051b3247a6ec3189e85804c02'
# timestamp  = not specified in example
[
  h'678ac6cd54de049c3e9665cd212470fa', # salt
  null,                                # replaces
  'Foo 118',                           # topicId
  null,                                # expires
  null,                                # inReplyTo
  {                                    # extensions
    1: "mimi://example.com/u/alice-smith",
    2: "mimi://example.com/r/engineering_team"
  },
  [                                    # body (NestedPart)
    7,                                   # dispostion = session
    "",                                  # language
    2,                                   # cardinality = external part
    "",                                  # contentType
    "https://example.com/join/12345",    # url
    0,                                   # expires
    0,                                   # size
    0,                                   # encAlg = none
    h'',                                 # key
    h'',                                 # nonce
    h'',                                 # aad
    0,                                   # hashAlg = none
    h'',                                 # content hash
    "Join the Foo 118 conference",       # description
    ""                                   # filename
  ]
]
