# EDIT
# message ID = h'01fdcd2f418e4b16f6ba319800a44c12
#                b3b0730871f29385bdc6d151b15751ad'
# timestamp  = 1644387248621 = 2022-02-08T22:14:08.621Z
[
  h'b8c2e6d8800ecf45df39be6c45f4c042',  # salt
  h'01a419aef4e16d43cfc06c28235ecfbe    / replaces /
    9faebc740d0148e7ca20b22150930836',  #   Reply
  h'',                                 # topicId
  null,                                # expires
  h'01b0084467273cc43d6f0ebeac13eb84   # inReplyTo =
    229c4fffe8f6c3594c905f47779e5a79', #   Original
  {                                    # extensions
    1: "mimi://example.com/u/bob-jones",
    2: "mimi://example.com/r/engineering_team"
  },
  [                                    # body (NestedPart)
    1,                                   # disposition = render
    "",                                  # language
    1,                                   # cardinality = single part
    "text/markdown;variant=GFM-MIMI",    # contentType
                                         # content
    'Right on! _Congratulations_ y\'all!'
  ]
]
