# EDIT
# message ID = h'0177ae58cfe751f18d7c89979ceabb0d
#                e701acb8daa2872bb353fa5f8aba1851'
# timestamp  = 1644387248621 = 2022-02-08T22:14:08.621Z
[
  h'b8c2e6d8800ecf45df39be6c45f4c042',  # salt
  h'01efab9eca8374d3618a16b39c658689    / replaces /
  fd90d07fe666a846178cb4965c94a8bf',    #   Reply
  h'',                                 # topicId
  null,                                # expires
  h'010714238126772e253118df3cd18fa6   # inReplyTo =
    9f90841d7df1f6f0cddab1f0dc0c9a26', #   Original
  {                                    # extensions
    1: "mimi://example.com/u/bob-jones",
    2: "mimi://example.com/r/engineering_team"
  },
  [                                    # body (NestedPart)
    1,                                   # disposition = render
    "",                                  # language
    1,                                   # cardinality = single part
    "text/markdown;variant=GFM-MIMI",    # contentType
                                         # content
    'Right on! _Congratulations_ y\'all!'
  ]
]
