# EXPIRING
# message ID = h'0114e486b39d705e15e3000b57290de4
#                79affbda4ec2c1b17cc25c214229ed7d'
# timestamp  = 1644389403227 = 2022-02-08T22:49:06.227Z
[
  h'33be993eb39f418f9295afc2ae160d2d', # salt
  null,                                # replaces
  h'',                                 # topicId
  [                                    # expires
    false,                               # absolute, not relative
    1644390004,          # expires = 10 minutes after it was sent
  ]
  null,                                # inReplyTo
  {                                    # extensions
    1: "mimi://example.com/u/alice-smith",
    2: "mimi://example.com/r/engineering_team"
  },
  [                                    # body (NestedPart)
    1,                                   # disposition = render
    "",                                  # language
    1,                                   # cardinality = single part
    "text/markdown;variant=GFM-MIMI",    # contentType
                                         # content
    '__*VPN GOING DOWN*__ I\'m rebooting the VPN in ten minutes' +
    ' unless anyone objects.'
  ]
]
