[
  null,                             / replaces                 /
  h'',                              / topicId                  /
  1644390004,                       / expires = in 10 minutes  /
  null,                             / inReplyTo                /
  [                                 / lastSeen (1 item)        /
     /  Unlike message                                          /
     h'1a771ca1d84f8fda4184a1e02a549e201bf434c6bfcf1237fa45463c6861853b'
  ],
  {},                               / extensions        /
  [                                 / body (NestedPart) /
    1,                                / dispostion = render       /
    "",                               / language                  /
    0,                                / partIndex = 1st part      /
    1,                                / cardinality = single part /
    "text/markdown;variant=GFM",      / contentType               /
                                      / content                   /
    '__*VPN GOING DOWN*__ I\'m rebootinging the VPN in ten minutes'
    ' unless anyone objects.'
  ]
]
