[
  / messageId = Original message /
  h'01b0084467273cc43d6f0ebeac13eb84
    229c4fffe8f6c3594c905f47779e5a79',
  
  / hubAcceptedTimestamp = 2022-02-08T22:13:45.019Z /
  1644387225019,

  / mlsGroupId /
  h'eeee0d12a7b5b5b78115ad1a1ddb1381
    1c83fd7387c43e66799a594beeda26bf',
  
  / senderLeafIndex /
  4,
  
  / senderClientUrl /
  "mimi://example.com/d/3b52249d-68f9-45ce-8bf5-c799f3cad7ec/0003",

  / senderUserUrl /
  "mimi://example.com/u/alice-smith",
  
  / roomUrl /
  "mimi://example.com/r/engineering_team"
]
