[
  null,                                / replaces             / 
  h'',                                 / topicId              /
  null,                                / expires = never      /
  null,                                / InReplyTo            /
  [                                      / lastSeen (1 item)   /
     /  Reply message                                          /
     h'e701beee59f9376282f39092e1041b2ac2e3aad1776570c1a28de244979c71ed'
  ],
  {},                                  / extensions              /
  [                                    / body (NestedPart)       /
    1,                                   / dispostion = render   /
    "",                                  / language              /
    1,                                   / cardinality = single  /
    "text/html;charset=utf-8",           / contentType           /
                                         / content               /
    '<p>Kudos to <a href="im:alice-smith@example.com">@Alice '
    'Smith</a> for making the release happen!</p>'
  ]
]
