[
  null,                                / replaces             / 
  h'',                                 / topicId              /
  null,                                / expires = never      /
  null,                                / InReplyTo            /
  [                                      / lastSeen (1 item)   /
     /  Reply message                                          /
     h'e701beee59f9376282f39092e1041b2ac2e3aad1776570c1a28de244979c71ed'
  ],
  {},                                  / extensions              /
  [                                    / body (NestedPart)       /
    1,                                   / dispostion = render   /
    "",                                  / language              /
    1,                                   / cardinality = single  /
    "text/markdown;variant=GFM",         / contentType           /
                                         / content               /
    'Kudos to [@Alice Smith](im:alice-smith@example.com)'
    ' for making the release happen!'
  ]
]
