# MENTION
# message ID = h'018d825adf9f6be00dcafc5704c4102f
#                5022e74219d0b603e4ba7622654042af'
# timestamp  = 1644387243008 = 2022-02-08T22:14:03.008Z
[
  h'04f290e215d0f82d1750bfa8b7dc089d', # salt
  null,                                # replaces
  h'',                                 # topicId
  null,                                # expires
  h'017ce54837404c3696e0c747b985cb17   # inReplyTo =
    2716d0ed0a3d249ca63ace7d82a096f4', #   Original
  {                                    # extensions
    1: "mimi://example.com/u/cathy-washington",
    2: "mimi://example.com/r/engineering_team"
  },
  [                                    # body (NestedPart)
    1,                                   # disposition = render
    "",                                  # language
    1,                                   # cardinality = single
    "text/markdown;variant=GFM-MIMI",    # contentType
                                         # content
    'Kudos to [@Alice Smith](mimi://example.com/u/alice-smith)' +
    ' for making the release happen!'
  ]
]
