[
  null,                             / replaces          /
  h'',                              / topicId           /
  0,                                / expires           /
  null,                             / inReplyTo         /
  [],                               / lastSeen          /
  {},                               / extensions        /
  [
    1,                          / disposition = render      /
    "",                         / language                  /
    0,                          / partIndex = 0 (1st part)  /
    3,                          / cardinality = multi       /
    0,                          / partSemantics = chooseOne /
    [
      [
        1,                           / disposition = render /
        "",                          / language             /
        1,                           / partIndex = 1        /
        1,                           / cardinality = single /
        "text/markdown;variant=GFM", / contentType          /
        '# Welcome!'                 / content              /
      ],
      [
        1,                           / disposition = render /
        "",                          / language             /
        2,                           / partIndex = 1        /
        1,                           / cardinality = single /
                                     / contentType          /
        "application/vnd.examplevendor-fancy-im-message",
        h'dc861ebaa718fd7c3ca159f71a2001'       / content   /
      ]
    ]
  ]
]
