[
  null,                             / replaces          /
  h'',                              / topicId           /
  null,                             / expires           /
  null,                             / inReplyTo         /
  [],                               / lastSeen          /
  {},                               / extensions        /
  [
    1,                           / disposition = render       /
    "",                          / language                   /
    3,                           / cardinality = multi        /
    2,                           / partSemantics = processAll /
    [
      [
        1,                             / disposition = render /
        "",                            / language             /
        1,                             / cardinality = single /
        "text/plain;charset=utf-8",    / contentType          /
        h'E2 9D A4'               / content = Unicode "heart" /
      ],
      [
        1,                             / disposition = render /
        "",                            / language             /
        1,                             / cardinality = single /
        "text/plain;charset=utf-8",    / contentType          /
        h'F0 9F A5 B3'       / content = Unicode "party face" /
      ],
      [
        1,                             / disposition = render /
        "",                            / language             /
        1,                             / cardinality = single /
        "text/plain;charset=utf-8",    / contentType          /
        h'F0 9F A4 9E'  / content = Unicode "fingers crossed" /
      ]
    ]
  ]
]