# MULTIPART-3
# message ID = h'0182a32b2593cc68ef1b00ed91cfe2dc
#                8db547636b6070b0f5ef8de7ae176523'
# timestamp  = not specified in example
[
  h'b8362793168d18c049b882d4642a2274', # salt
  null,                                # replaces
  h'',                                 # topicId
  null,                                # expires = never
  null,                                # inReplyTo
  {                                    # extensions
    1: "mimi://example.com/u/alice-smith",
    2: "mimi://example.com/r/engineering_team"
  },
  [                                    # body (NestedPart)
                                         # partIndex = 0 (1st part)
    1,                                   # disposition = render
    "",                                  # language
    3,                                   # cardinality = multi
    0,                                   # partSemantics = chooseOne
    [
      [                                  # partIndex = 1
        1,                               # disposition = render
        "",                              # language
        3,                               # cardinality = multi
        2,                               # partSemantics = processAll
        [
          [                              # partIndex = 2
            1,                           # disposition = render
            "",                          # language
            3,                           # cardinality = multi
            0,                           # partSemantics = chooseOne
            [
              [                          # partIndex = 3
                1,                       # disposition = render
                "en",                    # language
                1,                       # cardinality = single
                # content type
                "text/html;charset=utf-8",
                # content
                '<html><body><h1>Welcome!</h1>\n' +
                '<img src="cid:5@local.invalid" ' +
                'alt="Welcome image"/>\n</body></html>'
              ],       # English HTML
              [                          # partIndex = 4
                1,                       # disposition = render
                "fr",                    # language
                1,                       # cardinality = single
                # content type
                "text/html;charset=utf-8",
                # content
                '<html><body><h1>Bienvenue!</h1>\n' +
                '<img src="cid:5@local.invalid" ' +
                'alt="Image bienvenue"/>\n</body></html>'
              ]        # French HTML
            ]
          ],         # English or French HTML (refers to GIF)
          [                              # partIndex = 5
            4,                           # disposition = inline
            "",                          # language
            1,                           # cardinality = single
            "image/gif",                 # content type
            # content
            h'dc861ebaa718fd7c3ca159f71a2001a7'
          ]          # GIF
        ]
      ],           # GIF version with English or French HTML
      [                                  # partIndex = 6
        1,                               # disposition = render
        "",                              # language
        3,                               # cardinality = multi
        2,                               # partSemantics = processAll
        [
          [                              # partIndex = 7
            1,                           # disposition = render
            "",                          # language
            3,                           # cardinality = multi
            0,                           # partSemantics = chooseOne
            [
              [                          # partIndex = 8
                1,                       # disposition = render
                "en",                    # language
                1,                       # cardinality = single
                # content type
                "text/html;charset=utf-8",
                # content
                '<html><body><h1>Welcome!</h1>\n' +
                '<img src="cid:10@local.invalid" ' +
                'alt="Welcome image"/>\n</body></html>'
              ],       # English HTML
              [                         # partIndex = 9
                1,                      # disposition = render
                "fr",                   # language
                1,                      # cardinality = single
                # content type
                "text/html;charset=utf-8",
                # content
                '<html><body><h1>Bienvenue!</h1>\n' +
                '<img src="cid:10@local.invalid" ' +
                'alt="Image bienvenue"/>\n</body></html>'
              ]        # French HTML
            ]
          ],         # English or French HTML (refers to PNG)
          [                              # partIndex = 10
            4,                           # disposition = inline
            "",                          # language
            1,                           # cardinality = single
            "image/png",                 # content type
            # content
            h'fa444237451a05a72bb0f67037cc1669'
          ]          # PNG
        ]
      ]            # PNG version with English or French HTML
    ]            # GIF or PNG (with English or French HTML)
  ]
]
