[
  null,                             / replaces          /
  h'',                              / topicId           /
  null,                             / expires           /
  null,                             / inReplyTo         /
  [],                               / lastSeen          /
  {},                               / extensions        /
  [                                 / body (NestedPart) /
    1,                                / dispostion = render       /
    "",                               / language                  /
    1,                                / cardinality = single part /
    "text/markdown;variant=GFM",      / contentType               /
                                      / content                   /
    'Hi everyone, we just shipped release 2.0. __Good  work__!'
  ]
]
