# REACTION
# message ID = h'0158c4288911e50a8f6be3f47746b668
#                2f10fd91bc8c05557aa589a3157aff68'
# timestamp  = 1644387237728 = 2022-02-08T22:13:57.728Z
[
  h'd37bc0e6a8b4f04e9e6382375f587bf6', # salt
  null,                                # replaces
  h'',                                 # topicId
  null,                                # expires
  h'017ce54837404c3696e0c747b985cb17   # inReplyTo =
    2716d0ed0a3d249ca63ace7d82a096f4', #   Original
  {                                    # extensions
    1: "mimi://example.com/u/cathy-washington",
    2: "mimi://example.com/r/engineering_team"
  },
  [                                    # body (NestedPart)
    2,                                   # disposition = reaction
    "",                                  # language
    1,                                   # cardinality = single
    "text/plain;charset=utf-8",          # contentType
    '❤'                                  # content = U+2665 (heart)
  ]
]
