# REACTION
# message ID = h'019ae2809946ea7f0337958c5c1c22e9
#                5013c211c09290358d3eb8fb3aa2d019'
# timestamp  = 1644387237728 = 2022-02-08T22:13:57.728Z
[
  h'd37bc0e6a8b4f04e9e6382375f587bf6', # salt
  null,                                # replaces
  h'',                                 # topicId
  null,                                # expires
  h'010714238126772e253118df3cd18fa6   # inReplyTo =
    9f90841d7df1f6f0cddab1f0dc0c9a26', #   Original
  {                                    # extensions
    1: "mimi://example.com/u/cathy-washington",
    2: "mimi://example.com/r/engineering_team"
  },
  [                                    # body (NestedPart)
    2,                                   # dispostion = reaction
    "",                                  # language
    1,                                   # cardinality = single
    "text/plain;charset=utf-8",          # contentType
    '❤'                                  # content = U+2665 (heart)
  ]
]
