# REACTION
# message ID = h'01b1a14a88f4480e1336be86987854f8
#                38a3ec82944d4533d8d4088578550ed7'
# timestamp  = 1644387237728 = 2022-02-08T22:13:57.728Z
[
  h'd37bc0e6a8b4f04e9e6382375f587bf6', # salt
  null,                                # replaces
  h'',                                 # topicId
  null,                                # expires
  h'01b0084467273cc43d6f0ebeac13eb84   # inReplyTo =
    229c4fffe8f6c3594c905f47779e5a79', #   Original
  {                                    # extensions
    1: "mimi://example.com/u/cathy-washington",
    2: "mimi://example.com/r/engineering_team"
  },
  [                                    # body (NestedPart)
    2,                                   # disposition = reaction
    "",                                  # language
    1,                                   # cardinality = single
    "text/plain;charset=utf-8",          # contentType
    '❤'                                  # content = U+2665 (heart)
  ]
]
