[
  null,                                / replaces             / 
  h'',                                 / topicId              /
  null,                                / expires = never      /
  [                                    / InReplyTo            /
     /  message = Original message                            /
     h'd3c14744d1791d02548232c23d35efa97668174ba385af066011e43bd7e51501',
     1,                                  /  hashAlg = sha256  /
     /  hash  /
     h'6b44053cb68e3f0cdd219da8d7104afc2ae5ffff782154524cef093de39345a5'
  ],
  [                                      / lastSeen (1 item)   /
     /  Original message                                       /
     h'd3c14744d1791d02548232c23d35efa97668174ba385af066011e43bd7e51501'
  ],
  {},                                  / extensions             /
  [                                    / body (NestedPart)      /
    1,                                   / dispostion = render  /
    "",                                  / language             /
    0,                                   / partIndex = 1st part /
    1,                                   / cardinality = single /
    "text/markdown;variant=GFM",         / contentType          /
                                         / content              /
    'Right on! _Congratulations_ \'all!'
  ]
]
