# REPLY
# message ID = h'01efab9eca8374d3618a16b39c658689
#                fd90d07fe666a846178cb4965c94a8bf'
# timestamp  = 1644387237492 = 2022-02-09T06:13:57.492Z
[
  h'11a458c73b8dd2cf404db4b378b8fe4d', # salt
  null,                                # replaces
  h'',                                 # topicId
  null,                                # expires
  h'010714238126772e253118df3cd18fa6   # inReplyTo =
    9f90841d7df1f6f0cddab1f0dc0c9a26', #   Original
  {                                    # extensions
    1: "mimi://example.com/u/bob-jones",
    2: "mimi://example.com/r/engineering_team"
  },
  [                                    # body (NestedPart)
    1,                                   # disposition = render
    "",                                  # language
    1,                                   # cardinality = single part
    "text/markdown;variant=GFM-MIMI",    # contentType
                                         # content
    'Right on! _Congratulations_ \'all!'
  ]
]
