[
  / replaces = Reaction message                               /
  h'4dcab7711a77ea1dd025a6a1a7fe01ab3b0d690f82417663cb752dfcc37779a1',
  h'',                                 / topicId              /
  null,                                / expires = never      /
  [                                      / InReplyTo          /
     /  message = Original message                            /
     h'd3c14744d1791d02548232c23d35efa97668174ba385af066011e43bd7e51501',
     1,                                  /  hashAlg = sha256  /
     /  hash                /
     h'6b44053cb68e3f0cdd219da8d7104afc2ae5ffff782154524cef093de39345a5'
  ],
  [                                      / lastSeen (1 items)   /
    /  Delete message /
    h'89d3472622a40d6ceeb27c42490fdc64c0e9c20c598f9d7c8e81640dae8db0fb'
  ],
  {},                                  / extensions              /
  [                                    / body (NestedPart)       /
    2,                                   / dispostion = reaction /
    "",                                  / language              /
    0,                                   / partIndex = 1st part  /
    0                                    / cardinality = zero parts /
  ]
]
