# UNLIKE
# message ID = h'01061e20fb16aad88bd75605df8387d4
#                fa444237451a05a72bb0f67037cc1669'
# timestamp  = 1644387250389 = 2022-02-08T22:14:10.389Z
[
  h'c5ba86dc9fd272e58ca52ec805b79199', # salt
  h'019ae2809946ea7f0337958c5c1c22e9   / replaces /
    5013c211c09290358d3eb8fb3aa2d019'  #   Reaction
  h'',                                 # topicId
  null,                                # expires
  h'010714238126772e253118df3cd18fa6   # inReplyTo =
    9f90841d7df1f6f0cddab1f0dc0c9a26', #   Original
  {                                    # extensions
    1: "mimi://example.com/u/cathy-washington",
    2: "mimi://example.com/r/engineering_team"
  },
  [                                    # body (NestedPart)
    2,                                   # dispostion = reaction
    "",                                  # language
    0,                                   # cardinality = null part
  ]
]
